.Entirecard{
    background-color: #181818;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.shadCardWrapper{
    min-width: 300px;
    max-width: calc(50% - 3em);
    justify-content: space-between;
}