.PersonalProjectsBodyWrapper {
  margin-top: 1.5em;

}

.PersonalProjectsListWrapper {
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-self: center;
}
