.PersonalProjectsBodyWrapper {
  margin-top: 1.5em;
  width: 50%;
  justify-items: center;
  justify-self: center;
}

.PersonalProjectsListWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
