.pageTopWrapper{
    display: flex;
    justify-content: center;
    padding: 80px 16px 16px 16px;
    width: 50%;
    justify-self: center;
}

.mediaIcons{
    margin: 16px 16px 0 0;
    display: flex;
    gap: 16px;
}